{$Content}
<header class="main-box-header clearfix">
  <h1 class="text-center">Tasks/Requests</h1>
  <div class="main-box-body clearfix">
    <div class="row">
      <div class="col-md-4">
        <label> </label><strong>Created By :</strong>
        <div class="xepan-push-small"></div>{$created_by}
      </div>
      <div class="col-md-4">
        <label> </label><strong>Assigned To :</strong>
        <div class="xepan-push-small"></div>{$assigned_to}
      </div>
      <div class="col-md-4">
        <label> </label><strong>Status :</strong>
        <div class="xepan-push-small"></div>{$taskstatus}
      </div>
    </div>
    <div class="row">
      <div class="xepan-push"></div>
      <div class="col-md-12">{$FormButtons}</div>
    </div>
  </div>
</header>