{$Content}
header.main-box-header.clearfix
	h1.text-center Tasks/Requests
	.main-box-body.clearfix
		.row
			.col-md-4
				label  
				strong Created By :
				.xepan-push-small
				{$created_by}
			.col-md-4
				label  
				strong Assigned To :
				.xepan-push-small
				{$assigned_to}
			.col-md-4
				label  
				strong Status :
				.xepan-push-small
				{$taskstatus}
		.row
			.xepan-push
			.col-md-12
				{$FormButtons}