{$Content}
header.main-box-header.clearfix
	.main-box-body.clearfix
		.row
			.col-md-6
				.xepan-push-small
				{$from_date}
			.col-md-6
				.xepan-push-small
				{$to_date}
		.row
			.xepan-push
			.col-md-12
				{$FormButtons}