div.panel.panel-default.panel-body.xepan-push-small
		.row
			.col-md-3
				strong From Date :
				{$from_date}
			.col-md-3
				strong To Date :
				{$to_date}
			.col-md-3
				strong Priority :
				{$priority}
			.col-md-3
				{$FormButtons}