.col-xs-12
  #login-box
    #login-box-holder
      .row
        .col-xs-12
          header#login-header
            #login-logo
              |New Project
          #login-box-inner.with-heading
            .form-group  
              .row.col-lg-10.xepan-push-large
                {$name}
              .row.col-lg-10.xepan-push
                {$description}
              .row
                .col-xs-12
                  {$FormButtons}