
<div class="col-xs-12">
  <div id="login-box">
    <div id="login-box-holder">
      <div class="row">
        <div class="col-xs-12">
          <header id="login-header">
            <div id="login-logo">New Project</div>
          </header>
          <div id="login-box-inner" class="with-heading">
            <div class="form-group"> 
              <div class="row col-lg-10 xepan-push-large">{$name}</div>
              <div class="row col-lg-10 xepan-push">{$description}</div>
              <div class="row">
                <div class="col-xs-12">{$FormButtons}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>