{$Content}
.main-box
  header.main-box-header.clearfix
  .main-box-body.clearfix
    form.form-horizontal(role='form')
      .form-group
        .row.xepan-push-small
          .col-md-4
            {$employee_id}
        .row
          {$FormButtons}
          {$Content}