
<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <div class="tabs-wrapper profile-tabs">
        <ul class="nav nav-tabs responsive-tabs">
          <li class="active"><a data-toggle="tab" href="#tab-subtask">SubTasks</a></li>
          <li><a data-toggle="tab" href="#tab-showcomment">Comments</a></li>
          <li><a data-toggle="tab" href="#tab-comment">Add Comment</a></li>
        </ul>
        <div class="tab-content">
          <div id="tab-subtask" class="tab-pane">{$showsubtask}</div>
          <div id="tab-showcomment" class="tab-pane">{$showcomment}</div>
          <div id="tab-comment" class="tab-pane active">{$comment}</div>
        </div>
      </div>
    </div>
  </div>
</div>