.row
  .col-lg-12
      .main-box.clearfix
        .tabs-wrapper.profile-tabs
          ul.nav.nav-tabs.responsive-tabs
            li.active
              a(data-toggle='tab', href='#tab-subtask') SubTasks
            li
              a(data-toggle='tab', href='#tab-showcomment') Comments
            li
              a(data-toggle='tab', href='#tab-comment') Add Comment
                
          .tab-content

             #tab-subtask.tab-pane
                {$showsubtask}
             #tab-showcomment.tab-pane
                {$showcomment}
             #tab-comment.tab-pane.active
                {$comment}
             

                