.row
  .main-box
    header.main-box-header.clearfix
      h2 Conversation
    .main-box-body.clearfix
      form.form-horizontal(role='form')
        .form-group
        .form-group
          .col-lg-10
            textarea#conversation.form-control(rows = '3' type='textarea', placeholder='Start Conversation')
        .form-group
          .col-lg-10 
            button.btn.btn-success(type='submit') Post