
<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-8">
      <input id="inputSuccess" type="text" placeholder="'Most' Productive 'Task'" class="form-control"/>
    </div>
    <div class="col-md-2">
      <div class="container">
        <div class="dropdown pull-right">
          <button id="menu1" type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">From Date<span class="caret"></span></button>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="container">   
        <div class="dropdown pull-right">
          <button id="menu1" type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">To Date<span class="caret"> </span></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row xepan-push-large"><img src="img/samples/header1.png"/></div>
<div class="row xepan-push-large">
  <div class="col-md-6 col-sm-6 col-xs-12 hidden-sm">
    <div class="main-box small-graph-box green-bg"><span class="value">xEpan Gen 2</span><span class="headline">10 Employees</span>
      <div class="progress">
        <div role="progressbar" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100" style="width: 100%;" class="progress-bar"><span class="sr-only">100% Complete</span></div>
      </div><span class="subinfo"><i class="fa fa-arrow-circle-o-up"></i> 15% higher than others</span><span class="subinfo"><i class="fa fa-shopping-cart"></i> 118 Invoices cleared 2 Left</span>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 hidden-sm">
    <div class="main-box small-graph-box red-bg"><span class="value">Abc project</span><span class="headline">0 Employees</span>
      <div class="progress">
        <div role="progressbar" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100" style="width: 100%;" class="progress-bar"><span class="sr-only">100% Complete</span></div>
      </div><span class="subinfo"><i class="fa fa-arrow-circle-o-up"></i> 10% Lower than others</span><span class="subinfo"><i class="fa fa-shopping-cart"></i> 0 Invoices cleared 0 Left      </span>
    </div>
  </div>
  <div class="row xepan-push-large">
    <div class="col-md-6 col-sm-6 col-xs-12 hidden-sm"><img src="img/samples/project.png"/></div>
    <div class="col-md-6 col-sm-6 col-xs-12 hidden-sm">
      <div class="main-box">
        <div class="clearfix">
          <div class="infographic-box merged merged-top pull-left"><i class="fa fa-long-arrow-down purple-bg"></i><span class="value purple">Low</span><span class="headline">700</span></div>
          <div class="infographic-box merged merged-top merged-right pull-left"><i class="fa fa-arrows-h green-bg"></i><span class="value green">Medium</span><span class="headline">512</span></div>
        </div>
        <div class="clearfix">
          <div class="infographic-box merged pull-left"><i class="fa fa-long-arrow-up yellow-bg"></i><span class="value yellow">High</span><span class="headline">120</span></div>
          <div class="infographic-box merged merged-right pull-left"><i class="fa fa-arrows red-bg"></i><span class="value red">Critical</span><span class="headline">70</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row xepan-push-large">
    <div class="col-md-12">
      <div class="map-stats">
        <div class="table-responsive">
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th><span>Project</span></th>
                <th class="text-center"><span>Time Span</span></th>
                <th class="text-center"><span>Team Performance</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Project A</td>
                <td class="text-center">2013/08/08 - 2013/08/08</td>
                <td class="text-center status green"><i class="fa fa-level-up"></i> 27%</td>
              </tr>
              <tr>
                <td>Project B</td>
                <td class="text-center">2013/08/08 - 2013/08/08</td>
                <td class="text-center status red"><i class="fa fa-level-down"></i> 43%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row xepan-push-large">
    <div class="col-md-12">
      <div class="main-box infographic-box colored emerald-bg"><i class="fa fa-envelope"></i><span class="headline">You are employing less/more task force on these projects</span><span class="value">Project A, Project B</span></div>
    </div>
  </div>
</div>