.main-box
  .clearfix
    .infographic-box.merged.merged-top.pull-left
      i.fa.fa-share.green-bg
      span.value.green {$val1}
      span.headline {$heading1}
    .infographic-box.merged.merged-top.merged-right.pull-left
      i.fa.fa-rocket.green-bg
      span.value.green {$val2}
      span.headline {$heading2}
  .clearfix
    .infographic-box.merged.pull-left
      i.fa.fa-reply.green-bg
      span.value.green {$val3}
      span.headline {$heading3}
    .infographic-box.merged.merged-right.pull-left
      i.fa.fa-globe.green-bg
      span.value.green {$val4}
      span.headline {$heading4}
