
<div class="main-box">
  <div class="clearfix">
    <div class="infographic-box merged merged-top pull-left"><i class="fa fa-share green-bg"></i><span class="value green">{$val1}</span><span class="headline">{$heading1}</span></div>
    <div class="infographic-box merged merged-top merged-right pull-left"><i class="fa fa-rocket green-bg"></i><span class="value green">{$val2}</span><span class="headline">{$heading2}</span></div>
  </div>
  <div class="clearfix">
    <div class="infographic-box merged pull-left"><i class="fa fa-reply green-bg"></i><span class="value green">{$val3}</span><span class="headline">{$heading3}</span></div>
    <div class="infographic-box merged merged-right pull-left"><i class="fa fa-globe green-bg"></i><span class="value green">{$val4}</span><span class="headline">{$heading4}</span></div>
  </div>
</div>