.col-md-12.col-lg-12.col-sm-12.xepan-project-instanttaskfeed
	.main-box.clearfix
		.tabs-wrapper.profile-tabs
			ul.nav.nav-tabs.responsive-tabs 
				li.active
					a(data-toggle='tab', href='#tab-tasks') Today's Task
				li
					a(data-toggle='tab', href='#tab-pending') Pending Tasks
			.tab-content
				#tab-tasks.tab-pane.active
					.row.xepan-push
						.col-md-12
							{$project_form}
					.row
						.col-md-12
							strong.small Today's assigned tasks : 		
							{$task}
				#tab-pending.tab-pane
					strong.small All pending tasks :
					{$pending_tasks}

style(type='text/css', media='screen').
	.modal-body{
	padding:0px !important;
	}
	.xepan-project-instanttaskfeed li {
	padding-top:5px !important;
	padding-bottom:0px !important;
	}