
<div id="{$_name}" class="xepan-grid {$class}">
  <div class="main-box-body">
    <table style="width:100%" class="table-hover">
      <tbody style="font-size:10px">
        <tr data-id="{$id}" class="{$odd_even}">
          <td style="width:50%;"><span data-id="{$id}"></span><span data-id="{$id}" style="cursor:pointer; cursor: hand; max-width:600px; margin-left:6px" class="task-item instant-task-feed text-{$color}">
               
              {task_name}<span class="text-danger">No Active Task </span>{/}</span></td>
          <td style="width:30%;"><span>{$total_duration}</span></td>
          <td style="width:20%;"><span data-action="{$event_action}" data-id="{$id}" style="cursor:pointer; cursor: hand; " class="current_task_btn {$icon} {$running-task}"><span style="margin-left:5px;" class="duration">{$current_duration}         </span></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>