.xepan-grid(id="{$_name}" class="{$class}" {$attributes})
    .main-box-body
        table(style="width:100%")
            tbody(style="font-size:9px")
                {$header}
                {rows}{row}
                tr(class="{$odd_even}" data-id="{$id}")
                    td(style="width:70%")
                        span(data-id='{$id}')
                        span.text-center.task-item.instant-task-feed(class='text-{$color}', data-id='{$id}', style='cursor:pointer; cursor: hand; max-width:600px; margin-left:6px; display:block; margin-bottom:4px;') 
                            {task_name}
                            span.text-danger No Active Task 
                            {/}
                    td(style="width:30%")        
                tr
                    td(style="width:70%")
                        span(style="margin-right:10px;margin-left:6px" ) {$total_duration}
                    td(style="width:30%")
                        span.pull-left.current_task_btn(class='fa {$icon} {$running-task}', data-action='{$possible_action}', data-id='{$id}', style='cursor:pointer; cursor: hand;')
                            span.duration(style="margin-left:3px;")            
                {/rows}{/row}
    {not_found}
    div.row(style="margin-left:auto;margin-right:auto")
        .col-md-12.text-center.alert.alert-warning.instant-task-feed(role="alert" style="cursor:pointer; cursor: hand;")
            span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{not_found_message}{/not_found_message}
    {/}