.xepan-grid(id='{$_name}', {$attributes}, class='{$class}', style='background-color:white;')
    .main-box-body
        table(style='width:100%')
            tbody(style='font-size:9px')
                | {$header}
                | {rows}{row}
                tr(data-id='{$id}', class='{$odd_even}')
                    td(style='width:70%')
                        span(data-id='{$id}')
                        span.text-center.instant-task-feed(data-id='{$id}', style='cursor:pointer; cursor: hand; max-width:600px; margin-left:6px; display:block; margin-bottom:4px;', class='text-{$color}')
                            | {task_name}
                            span.text-danger No Active Task 
                            | {/}
                    td(style='width:30%')        
                tr
                    td
                        {$starting_date}        
                    td
                        {$deadline}        

                tr
                    td(style='width:70%')
                        span(style='margin-right:10px;margin-left:6px') {$total_duration}
                    td(style='width:30%')
                        span.pull-left.current_task_btn.fa(data-action='{$possible_action}', data-id='{$id}', style='cursor:pointer; cursor: hand;', class='{$icon} {$running-task}')
                            span.duration(style='margin-left:3px;')            
                | {/rows}{/row}
    | {not_found}
    .row(style='margin-left:auto;margin-right:auto')
        .col-md-12.text-center.alert.alert-warning.instant-task-feed(role='alert', style='cursor:pointer; cursor: hand;')
            span.icon-attention.fa.fa-exclamation-triangle   {not_found_message}{/not_found_message}
    | {/}
