
<div class="col-lg-8">
  <div class="main-box">
    <header class="main-box-header clearfix">
      <h2>New Project</h2>
    </header>
    <div class="main-box-body clearfix">
      <form role="form" class="form-horizontal">
        <div class="form-group">
          <div class="col-lg-10">
            <input id="name" type="text" placeholder="Project Name" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10">
            <textarea id="description" rows="3" type="textarea" placeholder="Description" class="form-control"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10">
            <div class="radio">
              <input id="optionsRadios1" type="radio" checked="" value="option1" name="optionsRadios"/>
              <label for="optionsRadios1">
                <div class="text-muted">Make Public</div>
              </label>
            </div>
            <div class="radio">
              <input id="optionsRadios2" type="radio" value="option2" name="optionsRadios"/>
              <label for="optionsRadios2">
                <div class="text-muted">Make Private</div>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-4"></div>
          <div class="col-lg-4"> 
            <button type="submit" class="btn btn-success">Create Project</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>