.panel.panel-default
	.panel-body
		.row.col-md-12
			h4 Task Filters:
		.row.xepan-push.col-md-12
			.col-md-4
				label
				strong Created By\Assigned To
				div {$createdby}			 
			.col-md-3
				label
				strong Employee			 
				div {$employee}			 
			.col-md-2
				label
				strong Status
				div {$status}			 
			.col-md-3
				label
				strong Priority
				div {$priority}
		
		.row.col-md-12
			.col-md-3
				label
				strong Quick Search
				div {$search_string}
			.col-md-1 	
			.col-md-3
				div {$FormButtons}
			.col-md-3
												