
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row col-md-12">
      <h4>Task Filters:</h4>
    </div>
    <div class="row col-md-12 xepan-push">
      <div class="col-md-4">
        <div class="atk-form-row"><span>Created By\Assigned To			 </span>
          <div>{$createdby}	 			 </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="atk-form-row"><span>Employee			 </span>
          <div>{$employee}	 			 </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="atk-form-row"><span>Status</span>
          <div>{$status} </div>
        </div>
      </div>
      <div class="col-md-3">					
        <div class="atk-form-row"><span>Priority</span>
          <div>{$priority}</div>
        </div>
      </div>
    </div>
    <div class="row col-md-12">
      <div class="col-md-3"></div>
      <div class="col-md-1">	</div>
      <div class="col-md-3"></div>
    </div>
    <div class="row col-md-12">
      <div class="col-md-3 xepan-push"><span>Quick Search</span>
        <div>{$search_string}</div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3"><span>{$FormButtons}</span></div>
    </div>
  </div>
</div>