
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row col-md-12">
      <h4>Task Filters:</h4>
    </div>
    <div class="row xepan-push col-md-12">
      <div class="col-md-4">
        <label></label><strong>Created By\Assigned To</strong>
        <div>{$createdby}			 </div>
      </div>
      <div class="col-md-3">
        <label></label><strong>Employee			 </strong>
        <div>{$employee}			 </div>
      </div>
      <div class="col-md-2">
        <label></label><strong>Status</strong>
        <div>{$status}			 </div>
      </div>
      <div class="col-md-3">
        <label></label><strong>Priority</strong>
        <div>{$priority}</div>
      </div>
    </div>
    <div class="row col-md-12">
      <div class="col-md-3">
        <label></label><strong>Quick Search</strong>
        <div>{$search_string}</div>
      </div>
      <div class="col-md-1">	</div>
      <div class="col-md-3">
        <div>{$FormButtons}</div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>