.panel.panel-default
	.panel-body
		.row.col-md-12
			h4 Task Filters:
		.row.col-md-12
			.col-md-4
				span Created By\Assigned To			 
			.col-md-3
				span Employee			 
			.col-md-2
				span Status
			.col-md-3
				span Priority
		.row.col-md-12.xepan-push
			.col-md-4
				span {$createdby}	 			 
			.col-md-3
				span{$employee}	 			 
			.col-md-2
				span{$status} 
			.col-md-3					
				span {$priority}
		
		.row.col-md-12
			.col-md-3
				span Quick Search
			.col-md-1 	
			.col-md-3
		.row.col-md-12
			.col-md-3
				span {$search_string}
			.col-md-1
			.col-md-3
				span {$FormButtons}
												