.panel.panel-default
	.panel-body
		.row.col-md-12
			h4 Task Filters:
		.row.col-md-12
			.col-md-3
				span Employee			 
			.col-md-3
				span Status
			.col-md-3
				span Quick Search
			.col-md-3
		.row.col-md-12.xepan-push
			.col-md-3
				span{$employee}	 			 
			.col-md-3
				span{$status} 
			.col-md-3
				span {$search_string}
			.col-md-3					
		.row.col-md-12
			.col-md-3
				span Created\Assigned:			 
			.col-md-3
				span Priority:
			.col-md-3
		.row.col-md-12
			.col-md-3
				span {$createdby}	 			 
			.col-md-3
				span {$priority}
			.col-md-3
				span {$FormButtons}
			.col-md-3
												