
<div class="clearfix">
  <div class="title pull-left">
    <div class="text-muted">{$title} : {$total_task}{$self_task}</div>
  </div>
  <div data-toggle="tooltip" title="" data-original-title="{$something}" class="value pull-right">
    <div class="text-muted">{$completed_percentage}{$self_percentage}% Completed   </div>
  </div>
</div>
<div class="progress">
  <div role="progressbar" aria-valuenow="{$completed_percentage}{$self_percentage}" aria-valuemin="0" aria-valuemax="100" style="width: {$completed_percentage}{$self_percentage}%;" class="progress-bar progress-bar-{$color} {$self_color}"></div>
</div>
<div class="title pull-left">
  <div class="text-muted small">Critical: {$critical_completed_percentage}{$critical_self_percentage}% High: {$high_completed_percentage}{$high_self_percentage}%    	</div>
  <div class="text-muted small">Medium: {$medium_completed_percentage}{$medium_self_percentage}% Low :{$low_completed_percentage}{$low_self_percentage}%</div>
</div>