.row.xepan-push
  .col-md-12
    {$task_name}
.row.xepan-push
  .col-md-12
      {$description}
.row.xepan-push
  .col-md-4
    {$starting_date}
  .col-md-4 
      {$deadline}
.row.col-md-12.xepan-push
  .col-md-4
    {$set_reminder}
  .col-md-4  
    {$remind_via}
  .col-md-4
    {$remind_value}
.row.col-md-12    
  .col-md-4  
    {$remind_unit}
.row.col-md-12 
  {$FormButtons}       