.row.xepan-push
  .col-md-6
    strong Reminder Task Name: 
    {$task_name}
  .col-md-6
    strong Task Starting Time: 
    {$starting_date}
.row
  .col-md-6  
    .panel.panel-primary.panel-heading.strong 
      b  Set Task Reminder
      hr
      .panel-body
        .row.xepan-push
          .col-md-12
            strong Remind Medium:    
            {$remind_via}
        .row.xepan-push
          .col-md-12
            strong Remind To:
            {$notify_to}
        .row
          .col-md-6
            strong Remind Value:
            {$remind_value}
          .col-md-6
            strong Remind Unit:
            {$remind_unit}
        span.small.text-muted Hint: Value = '10', Unit = 'Minutes' to get reminded 10 minutes before task starts     
  .col-md-6
    .panel.panel-primary.panel-heading
      b Make Task Periodically Recur
      hr
      .panel-body
        .row
          .col-md-4
            strong Repeat Task:
            br 
            {$is_recurring}
          .col-md-8
            strong Time Gap:    
            {$recurring_span}    
 
style(type='text/css', media='screen').
  .atk-button{
  font-family: sans-serif;
  font-size: 1em;
  background-color: #03a9f4;
  border-color: #2980b9;
  background-clip: padding-box;
  border-width: medium medium 2px;
  outline: medium none;
  padding: 6px 12px;
  transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
  width:100%;  
  }