
<div class="row xepan-push">
  <div class="col-md-6"><span>Task Name:</span>
    <div>{$task_name}</div>
  </div>
  <div class="col-md-6"><span>Starting Date:</span>
    <div>{$starting_date}</div>
  </div>
</div>
<div class="row xepan-push">
  <div class="col-md-12"><span>Assign To:</span>
    <div>{$employee_id}    </div>
  </div>
</div>
<div class="row xepan-push">
  <div class="col-md-6"><span>Notify To:</span>
    <div>{$notify_to}</div>
  </div>
  <div class="col-md-6"><span>Remind Via:</span>
    <div>{$remind_via}    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6"><span>Remind Value:</span>
    <div class="xepan-push-small"> </div>
    <div>{$remind_value}</div>
  </div>
  <div class="col-md-6"><span>Remind Unit:  </span>
    <div>{$remind_unit}</div>
  </div>
</div>
<div class="row xepan-push">
  <div class="col-md-12"><span class="text-muted">Hint : " Remind Value = 10, Remind Unit = Minutes " To get a reminder before 10 minutes of task starting time. </span></div>
</div>
<div class="row col-md-12">
   
  {$FormButtons}       
</div>