
<div class="row xepan-push">
  <div class="col-md-12">{$task_name}</div>
</div>
<div class="row xepan-push">
  <div class="col-md-12">{$description}</div>
</div>
<div class="row xepan-push">
  <div class="col-md-4">{$starting_date}</div>
  <div class="col-md-4">
     
    {$deadline}
  </div>
</div>
<div class="row col-md-12 xepan-push">
  <div class="col-md-4">{$set_reminder}</div>
  <div class="col-md-4">
     
    {$remind_via}
  </div>
  <div class="col-md-4">{$remind_value}</div>
</div>
<div class="row col-md-12">   
  <div class="col-md-4">
     
    {$remind_unit}
  </div>
</div>
<div class="row col-md-12">
   
  {$FormButtons}       
</div>