.xepan-grid.main-box.clearfix.atk-table.atk-table-zebra.atk-table-bordered(id="{$_name}" class="{$class}")
    {Pannel}
    header.main-box-header.clearfix.atk-actions(class=" {$class} ")
        div.filter-block( style="100%")
            .pull-right {$grid_buttons} 
            .form-group.pull-right.xepan-filter-form
                span(class="form-control pull-left")|{$quick_search}
                    i(class="fa fa-search search-icon")
    {/Pannel}
    .main-box-body.clearfix.table-responsive
        table.table.user-list.table-hover.footable.toggle-circle-filled(style="width:100%")
            {header}
            thead.xepan-hover-hand
                {cols}{col}
                th(id="{$name_sortid}")
                    span Employee 
                    span(style= "cursor:pointer; cursor: hand; max-width:600px;"){$name_sort}
                th(id="{$project_sortid}" data-hide="phone")
                    span Project 
                    span(style= "cursor:pointer; cursor: hand; max-width:600px;"){$project_sort}
                th(id="{$runnning_task_sortid}" data-hide="phone")
                    span Current Task 
                    span(style= "cursor:pointer; cursor: hand; max-width:600px;"){$running_task_sort}
                th(id="{$running_task_since_sortid}" data-hide="phone")
                    span Time Elapsed 
                    span(style= "cursor:pointer; cursor: hand; max-width:600px;"){$running_task_since_sort}
                th(id="{$pending_tasks_count_sortid}" data-hide="phone")
                    span Pending Tasks 
                    span(style= "cursor:pointer; cursor: hand; max-width:600px;"){$pending_tasks_count_sort}
                {/}{/}
            {/}
            {$subheader}

            tbody
                {rows}{row}
                tr(class="{$odd_even}" data-id="{$id}")
                    {cols}
                    td
                      {$avatar}                   
                      //- a.user-link(href='{url}index.php?page=xepan_projects_dailyanalysis&contact_id={$id}{/}')
                      {$name}
                    td
                      | {$project}
                    td
                      | {$running_task}
                    td
                      | {$running_task_since}
                    td
                      | {$pending_tasks_count}
                    
                    {/}
                {/}{/}
                {not_found}
                div.row
                    .col-md-12.text-center.alert.alert-warning(role="alert")
                        span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
                {/}

            {totals}
            tfoot
                tr(class="totals")
                    {cols}{col}
                    <td {$tdparam}>
                    {$content}
                    </td>
                    {/}{/}
            {/}
        {$Paginator}
