.row.col-lg-12(id="{$_name}")
  .main-box
    .text-center.text-muted{parent_name}{/}
    .row.col-md-12
      .col-md-6
        span.showhide.icon.fa.fa-tasks.text-muted#assigntask(data-task_id="{$id}") Assign Task 
      .col-md-6
        span.icon.fa.fa-tag.text-muted#addfollowers(data-task_id="{$id}") Add Followers
        span.glyphicon.glyphicon-remove.pull-right
    header.main-box-header.clearfix
    .main-box-body.clearfix
        .row.xepan-push-small
          {$form}
        .row.xepan-push
          {$subtask}
          .row.xepan-push-large 
          {$showsubtask} 
        .row 
          {$commentform}

          {$commentgrid}