
<div id="{$_name}" class="xepan-grid main-box clearfix {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div class="filter-block">
      <div class="pull-right haha"> 
        <button class="name btn btn-primary">Add Task</button>
      </div>{$grid_buttons} 
      <div class="form-group pull-right xepan-filter-form">
        <div class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></div>
      </div>
    </div>
  </header>{/Pannel}
  <div data-id="{$id}" class="row main-box-body clearfix">
    <ul class="widget-todo">
      {header}{cols}{col}{/}{/}{/}
      {rows}{row}
      <li class="clearfix">
        <div data-id="{$id}" class="name">
          {$avatar}
          {$task_name}
        </div>
        <div class="pull-right">
          {$action}
          {$delete}
        </div>
      </li>{/}{/}
      {not_found}
      <div class="row">
        <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
      </div>{/}
      {totals}{cols}{col}{$content}{/}{/}{/}
    </ul>{$Paginator}
  </div>
</div>