.row  
  .row.xepan-push-large
    .col-md-6
      {$task_name}
    .col-md-3
      {$employee_id}
    .col-md-3
      {$estimate_time}
  .row.xepan-push-large
    .col-md-6
      {$description}
    .col-md-3
      {$starting_date}
    .col-md-3    
      {$deadline}
  .row.xepan-push-large
    .col-md-3    
      {$priority}

  {$form_buttons}
