
<div class="row xepan-push">
  <div class="col-md-4 atk-form-field atk-form-row"><strong>Task Name: </strong>{$task_name}</div>
  <div class="col-md-4 atk-form-field atk-form-row"><strong>Assign To: </strong>{$assign_to_id} {$assign_to}</div>
  <div class="col-md-4 atk-form-field atk-form-row"><strong>Task Priority: </strong>{$priority}</div>
</div>
<div class="row xepan-push">
  <div class="col-md-4 atk-form-field atk-form-row"><strong>Starting Date: </strong>{$starting_date}</div>
  <div class="col-md-4 atk-form-field atk-form-row"><strong>Deadline: </strong>{$deadline}</div>
  <div class="col-md-4 atk-form-field atk-form-row"><strong>Estimate Time: </strong>{$estimate_time}<span class="small text-muted">Hint : Enter value in hours</span></div>
</div>
<div class="row xepan-push">
  <div class="col-md-12 atk-form-field atk-form-row"></div><strong>Description:</strong>{$description1}
  {$description} 
</div>
<div class="row">
  <div class="col-md-6 atk-form-field atk-form-row">
    <div class="panel panel-primary panel-heading"><b>Make Task Periodically Recur</b>
      <hr/>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4 atk-form-field atk-form-row"><strong>Repeat Task:</strong><br/>{$is_recurring}</div>
          <div class="col-md-8 atk-form-field atk-form-row"><strong>Time Gap:    </strong>{$recurring_span}    </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 atk-form-field atk-form-row"> 
    <div class="panel panel-primary panel-heading strong"> <b> Set Task Reminder</b>
      <hr/>
      <div class="panel-body">
        <div class="row xepan-push">
          <div class="col-md-4 atk-form-field atk-form-row"><strong>Set Reminder:</strong><br/>{$set_reminder}</div>
          <div class="col-md-8 atk-form-field atk-form-row"><strong>Remind Medium:    </strong>{$remind_via}</div>
        </div>
        <div class="row xepan-push">
          <div class="col-md-12 atk-form-field atk-form-row"><strong>Remind To:</strong>{$notify_to}</div>
        </div>
        <div class="row">
          <div class="col-md-6 atk-form-field atk-form-row"><strong>Remind Value:</strong>{$remind_value}</div>
          <div class="col-md-6 atk-form-field atk-form-row"><strong>Remind Unit:</strong>{$remind_unit}</div>
        </div><span class="small text-muted">Hint: Value = '10', Unit = 'Minutes' to get reminded 10 minutes before task starts     </span>
      </div>
    </div>
  </div>
</div>
<style type="text/css" media="screen">
  .panel{
  }
</style>