
<div id="{$_name}" class="main-box feed xepan-grid xepan-tasklist-grid {$class}"><a href="{title_url}#{/}">
    <h2 class="text-center">{$task_view_title}</h2></a>{$grid_buttons} 
  {$quick_search}
  {$filterform}
  <header class="main-box-header clearfix"></header>
  <div class="main-box-body clearfix">
    {$header}
    {nested_template}
    <ul id="{$assign_to_sortid}" style="cursor:pointer; cursor:hand;">
      {$assign_to_sort}
      {rows}{row}
      {cols}  
      <li class="clearfix">
        <div class="img">{$avatar}</div>
        <div data-id="{$id}" title="{$description}" class="title task-item">
          <a href="#">[{$task_no}] [{$type}]:</a>{$task_name}
          {$last_comment_time}
        </div>
        <div class="post-time">
            <i class="fa fa-calendar">
              <span class="text-muted text-small">&nbsp;{$starting_date}</span></i>
              <br/>
            <i style="font-size:16px;color:{$comment_color};" title="total comment {$comment_count}" class="fa fa-comment">&nbsp;{$comment_count}&nbsp;</i><i style="font-size:16px;color:green;" title="total attachment {$attachment_count}" class="fa fa-paperclip">&nbsp;{$attachment_count}</i>{alarm_wrapper}<i class="fa fa-bell"></i>{/}{recurring_wrapper}<i class="fa fa-repeat"></i>{/}<br/>{status_wrapper}  <span class="label label-xs label-primary">{$dashboard_sport_for_action}  </span>{/}
          {action_wrapper}  
          {$action}
          {/}
          {$delete} <span title="task priority : {$priority}" class="label label-xs label-{$color}">{$priority_name} </span>{contact_info_wrapper}<span style="cursor:pointer; cursor:hand;" data-id="{$related_id}" class="do-view-contact">[{$contact_name} :: {$contact_organization} {$dummy_spot}]</span>{/}
          {$sub_type}          
        </div>
        <div class="time-ago"><i title="Total Duration {$total_duration}" class="fa fa-clock-o">&nbsp; {total_duration}0.00{/}</i><br/>{play_pause_wrapper}  
          <div style="display:{$display_play_pause};"><span data-action="{$event_action}" data-id="{$id}" style="cursor:pointer; cursor: hand; " class="fa current_task_btn btn btn-primary btn-block {$icon} {$running-task}"><span style="margin-left:10px;" class="duration"></span></span></div>{/}
        </div>
      </li>{/}
      {/}{/}
    </ul>{not_found}
    <div class="row">
      <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
    </div>{/}
    {/}
    {$Paginator}
    <style>
      .xepan-tasklist-grid .post-time li{
        padding:1px;
      }
    </style>
  </div>
</div>