.main-box.feed.xepan-grid.xepan-tasklist-grid(id="{$_name}" class="{$class}")
  h2.text-center {$task_view_title}
  .pull-right {$grid_buttons} 
  .pull-left {$quick_search}
  {$filterform}
  header.main-box-header.clearfix
  .main-box-body.clearfix
    {$header}
    {nested_template}
    ul
      {rows}{row}
      {cols}  
      li.clearfix
        .img
          {$avatar}
          br
          span(class="label label-xs label-{$color}" title="task priority : {$priority}") {$priority} 
        .title(class="task-item" data-id= "{$id}")
          a(href='#') [{$task_no}] :
          {$task_name}
        .post-time
          {$action}
          {$delete} 
          &nbsp;&nbsp;&nbsp;
          i.fa.fa-comment(style="color:{$comment-color}")
          |  {$comment_count}
          &nbsp;&nbsp;&nbsp;
          i.fa.fa-paperclip(style="color:green")
          |  {$attachment_count}
        i.fa.fa-calendar
          span.text-muted.text-small
            | &nbsp;&nbsp;{$created_at}
        .time-ago
          i.fa.fa-clock-o(title="Total Duration {$total_duration}")&nbsp; {total_duration}0.00{/}
          br
          {play_pause_wrapper}  
          div(style ="display:{$display_play_pause};")
            span.fa.current_task_btn.btn.btn-primary.btn-block(class='{$icon} {$running-task}', data-action='{$event_action}', data-id='{$id}', style='cursor:pointer; cursor: hand; ')
              span.duration(style="margin-left:10px;")
          {/}
      {/}
      {/}{/}
    {not_found}
    div.row
        .col-md-12.text-center.alert.alert-warning(role="alert")
            span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
    {/}
    {/}
    {$Paginator}
    style.
      .xepan-tasklist-grid .post-time li{
        padding:1px;
      }