.main-box.feed.xepan-grid.xepan-tasklist-grid(id="{$_name}" class="{$class}")
  .pull-right {$grid_buttons} 
  .pull-left {$quick_search}
  header.main-box-header.clearfix
    h2.pull-left {$task_view_title}
  .main-box-body.clearfix
    {$header}
    {nested_template}
    ul
      {rows}{row}
      {cols}  
      li.clearfix
        .img(title= "{$created_by}")
          {$avatar}
          br
          span(class="label label-xs label-{$color}" title="task priority : {$priority}") {$priority} 
        .title
          a(href='#') [{$task_no}]  :
          |{$task_name}
        .post-time
          {$action}
          {trash}
          a.table-link.danger.do-delete.nested-link(href='#', data-id='{$id}')
              span.fa-stack
                i.fa.fa-square.fa-stack-2x
                i.fa.fa-trash-o.fa-stack-1x.fa-inverse
          {/}
        .time-ago
          i.fa.fa-clock-o(title="Total Duration {$total_duration}")&nbsp; {total_duration}0.00{/}
          br
          span.fa.current_task_btn.btn.btn-primary.btn-block(class='{$icon} {$running-task}', data-action='{$event_action}', data-id='{$id}', style='cursor:pointer; cursor: hand; ')
            span.duration(style="margin-left:10px;")
      {/}
      {/}{/}
    {not_found}
    div.row
        .col-md-12.text-center.alert.alert-warning(role="alert")
            span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
    {/}
    {/}
    {$Paginator}
    style.
      .xepan-tasklist-grid .post-time li{
        padding:1px;
      }