
<div id="{$_name}" class="main-box feed xepan-grid xepan-tasklist-grid {$class}"><span class="pending-task-search">{$quick_search}</span>
  <header class="main-box-header clearfix">
    <h2 class="pull-left">{$task_view_title}</h2>
  </header>
  <div class="main-box-body clearfix">
    {$header}
    {nested_template}
    {rows}{row}
    <ul>{cols}  
      <li class="clearfix">
        <div class="img"><img alt="" src="img/samples/robert-300.jpg"/></div>
        <div class="title"><a href="#">{$created_by_id} : </a> {$task_name}</div>
        <div class="post-time"><span data-action="{$event_action}" data-id="{$id}" style="cursor:pointer; cursor: hand; " class="fa current_task_btn {$icon} {$running-task}"><span style="margin-left:10px;" class="duration"></span></span></div>
        <div class="time-ago">
          {$action}
          {trash}<span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span>{/}
          {/}
        </div>
      </li>
    </ul>{/}{/}
    {not_found}
    <div class="row">
      <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
    </div>{/}
    {/}
    {$Paginator}
  </div>
</div>