
<div id="{$_name}" class="row col-lg-12">
  <div class="main-box">
    <div class="row col-md-12 xepan-push-small">
      <div class="col-md-4"><span class="icon fa fa-tasks text-muted">Assign Task </span></div>
      <div class="col-md-4"><span class="icon fa fa-calendar text-muted">Set DeadLine</span></div>
      <div class="col-md-4"> <span class="icon fa fa-tag text-muted">Add Followers</span><span class="glyphicon glyphicon-remove pull-right"></span></div>
    </div>
    <div class="row"></div>
    <hr/>
    <header class="main-box-header clearfix">
      <h2>{$Content} New Task</h2>
    </header>
    <div class="main-box-body clearfix">
      <form role="form" class="form-horizontal">
        <div class="form-group">
          <div class="col-lg-10">
            <input id="task" type="text" placeholder="Add Task" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10">
            <textarea id="comment" type="text" placeholder="Comment" class="form-control"></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>