.xepan-grid.main-box.clearfix.atk-table.atk-table-zebra.atk-table-bordered(id="{$_name}" class="{$class}")
    {Pannel}
    header.main-box-header.clearfix.atk-actions(class=" {$class} ")
        div.filter-block( style="100%")
            .pull-right {$grid_buttons} 
            .form-group.pull-right.xepan-filter-form
                span(class="form-control pull-left")|{$quick_search}
    {/Pannel}
    .main-box-body.clearfix.table
        table.table.user-list.table-hover(style="width:100%")
            {header}
            thead
                {cols}{col}
                th
                    span Task Name
                th
                    span Reminder Time 

                th 
                {/}{/}
            {/}
            {$subheader}

            tbody
                {rows}{row}
                tr(class="{$odd_even}" data-id="{$id}")
                    {cols}
                    td(class="{$recurring}")
                      span {$task_name}
                      div.small.text-muted
                        span.user-subhead 
                            span {$recurring_task_info} {$dummy_spot}
                    td
                      | {$reminder_time} 
                    td
                      div.xepan-reminder-view-task(style= "cursor:pointer; cursor: hand; max-width:600px;")  
                          span(class ="{$class}") &nbsp;
                          span.text-muted.small {$is_task}   
                    td(style="width: 15%;")
                        {$edit}
                        {$delete}
                    
                    {/}
                {/}{/}
                {not_found}
                div.row
                    .col-md-12.text-center.alert.alert-warning(role="alert")
                        span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
                {/}

            {totals}
            tfoot
                tr(class="totals")
                    {cols}{col}
                    <td {$tdparam}>
                    {$content}
                    </td>
                    {/}{/}
            {/}
        {$Paginator}
