
<div id="{$_name}" class="main-box feed xepan-grid xepan-tasklist-grid {$class}">
  <div class="pull-right">{$grid_buttons} </div>
  <div class="pull-left">{$quick_search}</div>
  <header class="main-box-header clearfix">
    <h2 class="pull-left">{$task_view_title}</h2>
  </header>
  <div class="main-box-body clearfix">
    {$header}
    {nested_template}
    <ul>
      {rows}{row}
      {cols}  
      <li class="clearfix">
        <div class="img">{$avatar}<br/><span title="task priority : {$priority}" class="label label-xs label-{$color}">{$priority} </span></div>
        <div data-id="{$id}" class="title task-item"><a href="#">[{$task_no}] :</a>{$task_name}</div>
        <div class="post-time">
          {$action}
          {$delete}
        </div>
        <div class="time-ago"><i title="Total Duration {$total_duration}" class="fa fa-clock-o">&nbsp; {total_duration}0.00{/}</i><br/>{play_pause_wrapper}  
          <div style="display:{$display_play_pause};"><span data-action="{$event_action}" data-id="{$id}" style="cursor:pointer; cursor: hand; " class="fa current_task_btn btn btn-primary btn-block {$icon} {$running-task}"><span style="margin-left:10px;" class="duration"></span></span></div>{/}
        </div>
      </li>{/}
      {/}{/}
    </ul>{not_found}
    <div class="row">
      <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
    </div>{/}
    {/}
    {$Paginator}
    <style>
      .xepan-tasklist-grid .post-time li{
        padding:1px;
      }
    </style>
  </div>
</div>