.row.col-lg-12(id="{$_name}")
  .main-box
    h4.text-center.text-muted(style="width: 100%;white-space:nowrap;overflow: hidden;text-overflow: ellipsis;"){parent_name}{/}
    hr
    .row.col-md-12
      .row.col-md-4.text-muted
        |Assigned To
      .row.col-md-4.text-muted
        span.icon.fa.fa-tag.text-muted#addfollowers(data-task_id="{$id}", style="cursor:pointer; cursor: hand;") Add Followers  
      .row.col-md-4.text-muted  
        span.glyphicon.glyphicon-remove.pull-right(style="cursor:pointer; cursor: hand;")
    .row.col-md-12
      .col-md-4
        span.text-muted#assigntask(data-task_id="{$id}", style="cursor:pointer; cursor: hand;") {avatar}Assign task ... {/}
      .col-md-4
      .col-md-4  
    header.main-box-header.clearfix
    .main-box-body.clearfix
        .row.xepan-push-small
          {$form}
        .row.xepan-push
          {$subtask}
          .row.xepan-push-large 
          {$showsubtask} 
        .row 
          {$commentform}

          {$commentgrid}
