
<div class="row"> 
  <div class="row xepan-push-large">
    <div class="col-md-6">{$task_name}</div>
    <div class="col-md-3">{$employee_id}</div>
    <div class="col-md-3">{$estimate_time}</div>
  </div>
  <div class="row xepan-push-large">
    <div class="col-md-6">{$description}</div>
    <div class="col-md-3">{$starting_date}</div>
    <div class="col-md-3">
         
      {$deadline}
    </div>
  </div>
  <div class="row xepan-push-large">
    <div class="col-md-3">
         
      {$priority}
    </div>
  </div>{$form_buttons}
</div>