
<div class="row">
  <div class="main-box">
    <header class="main-box-header clearfix">
      <h2>xEpan Generation Second</h2>
    </header>
    <div class="main-box-body clearfix">
      <div class="col-md-4"></div>
      <div class="col-md-4"> <a href="?page=xepan_projects_openproject&link=task">
           
          Tasks</a><a href="?page=xepan_projects_openproject&link=calendar">
           
          Calendar</a><a href="?page=xepan_projects_openproject&link=conversation">
           
          Conversation</a><a href="?page=xepan_projects_openproject&link=progress">
           
          Progress</a><a href="?page=xepan_projects_openproject&link=files">
           
          Files</a></div>
    </div>
  </div>
</div>