.row
  .main-box
    header.main-box-header.clearfix
      h2 xEpan Generation Second
    .main-box-body.clearfix
      .col-md-4
      .col-md-4 
        a(href!='?page=xepan_projects_openproject&link=task') 
         |Tasks
        a(href!="?page=xepan_projects_openproject&link=calendar") 
         |Calendar
        a(href!="?page=xepan_projects_openproject&link=conversation") 
         |Conversation
        a(href!="?page=xepan_projects_openproject&link=progress") 
         |Progress
        a(href!="?page=xepan_projects_openproject&link=files") 
         |Files