
<div class="row">
  <div class="main-box">
    <header class="main-box-header clearfix">
      <h2>{$name}</h2>
    </header>
    <div class="main-box-body clearfix">
      <div class="col-md-4"></div>
      <div class="col-md-4"> <a href="?page=xepan_projects_projectdetail&project_id={$id}">
           
          Tasks</a><a href="?page=xepan_projects_calendar&project_id={$id}">
           
          Calendar</a><a href="?page=xepan_projects_conversation&project_id={$id}">
           
          Conversation</a><a href="?page=xepan_projects_progress&project_id={$id}">
           
          Progress</a><a href="?page=xepan_projects_files&project_id={$id}">
           
          Files</a></div>
    </div>
  </div>
</div>