.row(id="{$_name}")
  .main-box
    header.main-box-header.clearfix
      .row
        .col-md-3
        .col-md-6.text-center
          h1 {$name}
        .col-md-3  
          .pull-right.top-page-ui
            span(data-id="{$id}")
              a.btn.btn-primary.pull-right(href="#" style="margin-top:10px;")
                i.fa.fa-plus-circle.fa-lg.add-task &nbsp; Add New Task
      {progress_bar_wrapper}
      .row
        .col-md-3
          {$selfprogress}
        .col-md-6
          .text-center 
            a(href!='?page=xepan_projects_projectdetail&project_id={$id}') 
             span(style="font-size:25px;") Tasks
            &nbsp;&nbsp;  
            a.do-view-project-lives-details(href!='#' data-id="{$id}") 
             span(style="font-size:25px;") Status
        .col-md-3
          {$totalprogress}
      {/}