
<div id="{$_name}" class="row">
  <div class="main-box">
    <header class="main-box-header clearfix">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
          <h1>{$name}</h1>
        </div>
        <div class="col-md-3"> 
          <div class="pull-right top-page-ui"><span data-id="{$id}"><a href="#" style="margin-top:10px;" class="btn btn-primary pull-right"><i class="fa fa-plus-circle fa-lg add-task">&nbsp; Add New Task</i></a></span></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">{$selfprogress}</div>
        <div class="col-md-6">
          <div class="text-center"> <a href="?page=xepan_projects_projectdetail&project_id={$id}">
               
              Tasks</a><a href="?page=xepan_projects_calendar&project_id={$id}">
               
              Calendar</a><a href="?page=xepan_projects_conversation&project_id={$id}">
               
              Conversation</a><a href="?page=xepan_projects_progress&project_id={$id}">
               
              Progress</a><a href="?page=xepan_projects_files&project_id={$id}">
               
              Files</a></div>
        </div>
        <div class="col-md-3">{$totalprogress}</div>
      </div>
    </header>
  </div>
</div>