.row
  .main-box
    header.main-box-header.clearfix
      h2 {$name}
    .main-box-body.clearfix
      .col-md-4
      .col-md-4 
        a(href!='?page=xepan_projects_projectdetail') 
         |Tasks
        a(href!="?page=xepan_projects_calendar") 
         |Calendar
        a(href!="?page=xepan_projects_conversation") 
         |Conversation
        a(href!="?page=xepan_projects_progress") 
         |Progress
        a(href!="?page=xepan_projects_files") 
         |Files