.row(id="{$_name}")
  .main-box
    header.main-box-header.clearfix
      h2 {$name}
      .row
        span.text-muted{$pending_task}
    .main-box-body.clearfix
      .col-md-4
      .col-md-4 
        a(href!='?page=xepan_projects_projectdetail&project_id={$id}') 
         |Tasks
        a(href!="?page=xepan_projects_calendar&project_id={$id}") 
         |Calendar
        a(href!="?page=xepan_projects_conversation&project_id={$id}") 
         |Conversation
        a(href!="?page=xepan_projects_progress&project_id={$id}") 
         |Progress
        a(href!="?page=xepan_projects_files&project_id={$id}") 
         |Files
      .col-md-4
        .pull-right.top-page-ui
          span(data-id="{$id}")
            a.btn.btn-primary.pull-right(href="#")
              i.fa.fa-plus-circle.fa-lg.add-task Add Task
