
<div class="row">
  <div class="main-box">
    <header class="main-box-header clearfix">
      <h2>xEpan Generation Second</h2>
    </header>
    <div class="main-box-body clearfix">
      <div class="col-md-4"></div>
      <div class="col-md-4"> <a href="?page=xepan_projects_projectdetail">
           
          Tasks</a><a href="?page=xepan_projects_calendar">
           
          Calendar</a><a href="?page=xepan_projects_conversation">
           
          Conversation</a><a href="?page=xepan_projects_progress">
           
          Progress</a><a href="?page=xepan_projects_files">
           
          Files</a></div>
    </div>
  </div>
</div>