
<div class="row">
  <div class="main-box">
    <div class="clearfix">
      <div class="infographic-box merged merged-top pull-left"><i class="fa fa-sitemap purple-bg"></i><span class="value purple">{$projects}</span><span class="headline">Total Projects</span></div>
      <div class="infographic-box merged merged-top merged-right pull-left"><i class="fa fa-tasks green-bg"></i><span class="value green">{$tasks}</span><span class="headline">Total Tasks</span></div>
    </div>
    <div class="clearfix">
      <div class="infographic-box merged pull-left"><i class="fa fa-tasks yellow-bg"></i><span class="value yellow">{$completed_tasks}</span><span class="headline">Completed Tasks</span></div>
      <div class="infographic-box merged merged-right pull-left"><i class="fa fa-tasks red-bg"></i><span class="value green">{$pending_tasks}</span><span class="headline">Pending Tasks</span></div>
    </div>
  </div>
</div>
<div class="row">{$project_overview}</div>