{$Content}
.row
	.col-md-12
		{$topview}
.row
	{$filter_form}
.row.main-box
	.col-md-4#left_view
		{$leftview}
	.col-md-4#middle_view
		{$middleview}
	.col-md-4#right_view 	
		{$rightview}
.row
	.col-md-1
	.col-md-10 	
		#calendar 	
	.col-md-1 	