{$Content}
.row
	.col-md-12
		{$topview}
.row.main-box
	.col-md-12#left_view
		{$leftview}
	.col-md-5#right_view(style="display:none")
		{$rightview}
.row
	.col-md-1
	.col-md-10 	
		#calendar		
	.col-md-1 	