
<div style="cursor:pointer; cursor:hand;" class="row do-view-todaystask">
  <div class="panel panel-default">
    <div class="panel-heading"><span>Todays Task Status [Employee : {$employee} &nbsp; &nbsp;Date : {$date}]</span></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6"><span>To Receive : {$to_receive}</span></div>
        <div class="col-md-6"><span>Pending : {$pending}</span></div>
      </div>
      <div class="row">
        <div class="col-md-6"><span>Submitted : {$submitted}</span></div>
        <div class="col-md-6"><span>Completed : {$completed}</span></div>
      </div>
      <div class="row">
        <div class="col-md-6"><span>Created : {$created}</span></div>
        <div class="col-md-6"><span>Assigned : {$assigned}</span></div>
      </div>
    </div>
  </div>
</div>